/* Error: expected "{".
 *   ,
 * 4 | --dark-purple: #331832ff;
 *   |                         ^
 *   '
 *   src/scss-sass/modules/_colours.scss 4:25  @use
 *   src/scss-sass/styles.scss 4:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 4 \2502  --dark-purple: #331832ff;\a   \2502                          ^\a   \2575 \a   src/scss-sass/modules/_colours.scss 4:25  @use\a   src/scss-sass/styles.scss 4:1             root stylesheet';
}
